body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('/development/kato/rizka.jpg');
    background-size: cover;
    background-position: center;
    display: flex; /* Add this line to create a flex container */
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.letter {
    text-align: justify;
}

h2 {
    color: #e44d26;
}

.page-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: #555;
}


/* Add this CSS for the heart animation */
@keyframes heartAnimation {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

/* Add this CSS to style the heart */
.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #e44d26;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
